body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111827;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

h2 {
    color: #38bdf8;
}

p {
    font-size: 20px;
}
